@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* page title */
.page-title {
  margin: 20px auto;
  padding: 12px;
  width: 20em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  background-color: #7743DB;
  border-radius: 50px;
  color: white;
}

/* content */
main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

/* content card */
.card {
  border-radius: 20px;
  background-color: #F1EAFF;
  border: 0;
}

/* input */
.input-section {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.input-section h2 {
  text-align: center;
  color: #7743DB;
}

.input-section form .input {
  margin: 8px 0;
}

.input-section form button {
  background-color: #7743DB;
  color: white;
  border: 0;
  border-radius: 10px;
  display: block;
  width: 8em;
  padding: 8px;
  cursor: pointer;
}

.input-section form button {
  font-weight: bold;
}

.input label {
  color: #7743DB;
  font-weight: bold;
}

.input input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 0;
  background-color: #E5D4FF;
}

.input-checkbox {
  margin: 12px 0;
  display: flex;
  align-items: center;
  user-select: none;
}

.input-checkbox label {
  color: #7743DB;
  font-weight: bold;
  margin-right: 10px;
}

.input-checkbox input {
  height: 25px;
  width: 25px;
}

input, button {
  font-size: 16px;
}

input:focus {
  outline: none;
}

/* search */
.search-section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.search-section h2 {
  color: #7743DB;
}

.search-section form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.search-section form label {
  display: flex;
  align-items: center;
  color: #7743DB;
  font-weight: bold;
}

.search-section form input {
  padding: 5px;
  border-radius: 10px;
  border: 0;
  background-color: #E5D4FF;
}

/* book shelf */
.book-shelf {
  margin: 16px 0 0 0;
  padding: 16px;
}

.book-shelf h2 {
  padding: 0;
  color: #7743DB;
}

.book-shelf .book-list {
  padding: 0;
}

/* saved book */
.book-item {
  padding: 8px 16px 16px 16px;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

.book-item h3, p {
  margin: 8px 0;
}

.book-item .action button {
  /* border: 0; */
  padding: 5px 8px 5px 8px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  cursor: pointer;
}

.book-item .action .move {
  background-color: #7743DB;
  border: 2px solid #7743DB;
  color: white;
}

.book-item .action .delete {
  border: 2px solid #7743DB;
  background-color: white;
  color: #7743DB;
}
